<!DOCTYPE html>
<html lang="en-US">
  <%- include ('../partials/head.ejs') %>
  <body>
    <!-- Main Container -->
    <div class="container">
      <!-- Navigation -->
      <header><%- include ('../partials/header') %></header>

      <!-- Main Section -->
      <section class="banner">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Framework</th>
              <th>URL</th>
            </tr>
          </thead>
          <tbody>
            <%table.forEach(function(entry) {%>
            <tr>
              <td><%=entry.firstname%></td>
              <td><%=entry.email%></td>
            </tr>
            <%});%>
          </tbody>
        </table>
      </section>

      <%- include ('../partials/footer') %>
    </div>
    <!-- Main Container Ends -->
  </body>
</html>
